{% if site.resume_section_education %}
<section class="section education-section">
    <h2 class="section-title"><span class="fa-stack fa-xs"><i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i></span>Education</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="degree">Postdoctoral Fellowship, Theoretical Computer Science</h3>
                <div class="time">2010 - 2012</div>
            </div><!--//upper-row-->
            <div class="university">Massachusetts Institute of Technology (MIT)</div>
        </div><!--//meta-->
        <div class="details">
            <p>Faculty Advisor: Dr. Scott Aaronson</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="degree">Ph.D. in Physics</h3>
                <div class="time">2007 - 2010</div>
            </div><!--//upper-row-->
            <div class="university">Harvard University</div>
        </div><!--//meta-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="degree">B.S. in Physics and Computer Science</h3>
                <div class="time">2004 - 2007</div>
            </div><!--//upper-row-->
            <div class="university">Harvard University</div>
        </div><!--//meta-->
    </div><!--//item-->

</section><!--//section-->
{% endif %}

