{% if site.resume_section_skills %}
<section class="section skills-section">
    <h2 class="section-title"><span class="fa-stack fa-xs"><i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-wrench fa-stack-1x fa-inverse"></i></span>Skills &amp; Proficiency</h2>
    <div class="skillset">

        <div class="item">
            <h3 class="level-title">Quantum Computing</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Machine Learning & Deep Learning</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="98%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">Python, C++, R, Java</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">TensorFlow, PyTorch, Keras, Scikit-learn</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">MLOps (Kubeflow, MLflow, Airflow)</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Graph Neural Networks (Neo4j)</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

    </div>
</section><!--//skills-section-->
{% endif %}

